.SignInContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 3rem;

  input {
    &::placeholder {
      color: #999999;
    }
    &:focus {
      outline: 2px bold black;
    }
  }

  .SignInID {
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
  }

  .SignInPassWord {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
  }
  .loginMid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .autoLogin {
      font-size: 12px;
      color: #8d8d8d;
      line-height: 3;
    }
  }
  .SignInBtnContainer {
    margin-bottom: 4rem;
    .SignInBtn {
      width: 370px;
      height: 45px;
      font-size: 14px;
      padding: 13px 30px;
      cursor: pointer;
      background-color: #935ef4;
      color: white;
      line-height: 1px;
      margin-top: 20px;
      margin-bottom: 18px;
      border-radius: 3px;
      border-style: none;
    }

    .googleButton {
      width: 370px;
      height: 45px;
      justify-content: center;
    }
  }
}
