.ChatViewerContainer {
  padding: 1rem;
  color: white;

  .ChatViewer {
    color: white;
    width: 100%;
    height: 34.5vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    display: inline-block;
    word-break: break-all;
    text-align: left;
  }
  .ChatViewer::-webkit-scrollbar { 
    display: none;
    width: 0;
  }

  .btn__ChatSuper {
    font-size:20px;
    padding:10px 10px;
    color: white;
    border: 0;
    background-color: #8d6ffa;
  }
  .btn__ChatKeyWord {
    font-size:20px;
    padding:10px 10px;
    color: white;
    border: 0;
    background-color: #653bfc;
  }
  .plane_text {
    font-size: 90%;
  }

}
// style={{
//   width: "100%",
//   height: 600,
//   overflow: "scroll",
//   display: "inline-block",
//   wordBreak: "break-all",
//   textAlign: "left",
//   color: "white",
// }}

