.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: space-between;

  .superchat {
    width: 10.5rem;
    height: 4rem;
    background-color: #935ef4;
    border: none;
    color: white;
    font-size: 27px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;

    .ON {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "ON";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }

    .OFF {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "OFF";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover .ON {
      padding-right: 50px;
    }

    &:hover .OFF {
      padding-right: 60px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }

  .keyWordStart {
    width: 12rem;
    height: 4rem;
    background-color: #691df7;
    border: none;
    color: white;
    font-size: 27px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 1s;
    text-align: center;
    cursor: pointer;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover span {
      padding-right: 20px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }
  .keyWordEnd {
    width: 10rem;
    height: 4rem;
    background-color: #691df7;
    border: none;
    color: white;
    font-size: 27px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 1s;
    text-align: center;
    cursor: pointer;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "\00Ab";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover span {
      padding-right: 20px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }
  .inputSearchContainer {
    display: flex;
    flex-direction: row;
    animation: fadeinX 1s;
    -webkit-animation: fadeinX 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    opacity: 0;

    .InputBar {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.7rem;
      margin-right: 1rem;
      border: 3px solid #935ef4;
      background-color: #272c34;
      border-radius: 0.5rem;
      width: 11rem;
      height: 3.5rem;
      color: white;
    }

    &:focus {
      outline: 3px solid #935ef4;
      background-color: #272c34;
      color: white;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
      -webkit-text-fill-color: #fff !important;
    }

    .Search {
      width: 6rem;
      height: 4rem;
      background-color: #691df7;
      border: none;
      color: white;
      font-size: 27px;
      margin-right: 1rem;
      border-radius: 0.5rem;
      transition: all 0.1s;
      text-align: center;
      cursor: pointer;

      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.2s;

        &:after {
          content: "\🔍";
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.2s;
        }
      }
      &:hover span {
        padding-right: 30px;
      }

      &:hover span:after {
        opacity: 1;
        right: 0;
      }
      &:active {
        transform: scale(0.9);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
      }
    }
  }

  //
  .cutMakeButton {
    width: 10rem;
    height: 4rem;
    background-color: #935ef4;
    border: none;
    color: white;
    font-size: 26px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "✂";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover span {
      padding-right: 30px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }

  .exportButton {
    width: 9.5rem;
    height: 4rem;
    background-color: #691df7;
    border: none;
    color: white;
    font-size: 26px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "\21AA";
        position: absolute;
        opacity: 0;
        top: +5px;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover span {
      padding-right: 30px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }
}

@keyframes fadeinX {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeinX {
  /* Safari and Chrome */
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
