.buttonContainer {
  display: flex;
  flex-direction: space-between;

  .superchat {
    width: 9rem;
    height: 4rem;
    background-color: #935ef4;
    border: none;
    color: white;
    font-size: 27px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;

    .ON {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "ON";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }

    .OFF {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "OFF";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover .ON {
      padding-right: 50px;
    }

    &:hover .OFF {
      padding-right: 60px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }

  .keyWord {
    width: 12rem;
    height: 4rem;
    background-color: #691df7;
    border: none;
    color: white;
    font-size: 27px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover span {
      padding-right: 20px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }

  .InputBar {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.7rem;
    margin-right: 1rem;
    border: 3px solid #935ef4;
    background-color: #1b1b24;
    border-radius: 0.5rem;
    width: 11.5rem;
    height: 4rem;
    color: white;
  }

  &:focus {
    outline: 3px solid #935ef4;
    background-color: #1b1b24;
    color: white;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #fff !important;
  }

  //
  .button3 {
    width: 10rem;
    height: 4rem;
    background-color: #935ef4;
    border: none;
    color: white;
    font-size: 27px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "\21AA";
        position: absolute;
        opacity: 0;
        top: +5px;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover span {
      padding-right: 30px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }

  //
  .button4 {
    width: 10rem;
    height: 4rem;
    background-color: #691df7;
    border: none;
    color: white;
    font-size: 27px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.2s;

      &:after {
        content: "\21F2";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
      }
    }
    &:hover span {
      padding-right: 20px;
    }

    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    }
  }
}
