.DataChartControllerCover {
  width: 20%;
  max-width: 20%;
}
.header {
  text-align: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.content {
  padding: 0.5rem;
  text-align: center;
  font-size: 16px;
  padding-bottom: 1.1rem;
}

.container__chat {
  width: 100%;
  background-color: #935ef4;
  border-radius: 1rem;
  height: 166 px;
  max-height: 200 px;
  transition: all 0s;
  color: rgb(255, 255, 255);
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.container__video {
  background-color: #935ef4;
  border-radius: 1rem;
  height: 166 px;
  max-height: 200 px;
  color: rgb(255, 255, 255);
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.container__audio {
  background-color: #935ef4;
  border-radius: 1rem;
  height: 166 px;
  max-height: 200 px;
  color: rgb(255, 255, 255);
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hide {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
