.DataChartControllerCover {
  border: 2px solid black;
  width: 20%;
  max-width: 20%;
}

.container__chat {
  height: 166 px;
  max-height: 200 px;
  color: rgb(255, 255, 255);
}

.container__video {
  height: 166 px;
  max-height: 200 px;
  color: rgb(255, 255, 255);
}

.container__audio {
  height: 166 px;
  max-height: 200 px;
  color: rgb(255, 255, 255);
}

.hide {
  display: none;
}