.upperlayer {
  border: 2px solid black;
  padding: 16;
  display: flex;
  flex-direction: row;
  height: 40%;
  max-height: 40%;
  background-color: #272c34;

  .VideoPlayerCover {
    border: 2px solid black;
    width: 40%;
    max-width: 40%;
  }

  .ChatViewerCover {
    border: 2px solid black;
    width: 16%;
    max-width: 35%;
  }

  .BookMarkerToolCover {
    border: 2px solid black;
    width: 35%;
    max-width: 35%;
  }
}

.lowerlayer {
  border: 2px solid black;
  padding: 16;
  display: flex;
  flex-direction: row;
  height: 40%;
  max-height: 40%;
  background-color: #272c34;

  .DataChartControllerCover {
    border: 2px solid black;
    width: 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .DataChartCover {
    border: 2px solid black;
    width: 80%;
    max-width: 80%;
  }
}
