html,
body {
  margin: 0;
  padding: 0;
  border: 3px solid black;
  background-color: black;

  .upperlayer {
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 0.3rem;
    border-bottom: 3px solid black;

    .VideoPlayerCover {
      width: 40%;
      max-width: 40%;
      border-right: 3px solid black;
      border-radius: 0.3rem;
      background-color: #1b1b24;
      animation: bottom 0.8s;
      -webkit-animation: bottom 0.8s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    .upperLeft_upper_container {
      width: 60%;
      display: flex;
      flex-direction: column;
      .upperLayer {
        width: 100%;
        height: 380px;
        display: flex;
        flex-direction: row;
        background-color: balck;
        .ChatViewerCover {
          width: 25%;
          border-right: 3px solid black;
          border-bottom: 3px solid black;
          border-radius: 0.3rem;
          background-color: #1b1b24;
          animation: bottom 0.8s;
          -webkit-animation: bottom 0.8s;
          animation-delay: 0.2s;
          animation-fill-mode: forwards;
          opacity: 0;
        }

        .BookMarkerToolCover {
          border-bottom: 3px solid black;
          border-radius: 0.3rem;
          width: 75%;
          background-color: #1b1b24;
          animation: bottom 0.8s;
          -webkit-animation: bottom 0.8s;
          animation-delay: 0.3s;
          animation-fill-mode: forwards;
          opacity: 0;
        }
      }

      .lowerLayer {
        display: flex;
        flex-direction: column;
        padding-top: 0.8rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
        padding-bottom: 0.8rem;
        border-radius: 0.3rem;
        background-color: #1b1b24;
        animation: bottom 0.8s;
        -webkit-animation: bottom 0.8s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
        opacity: 0;
      }
    }
  }

  .lowerlayer {
    padding: 16;
    display: flex;
    flex-direction: row;
    height: 42%;
    max-height: 42%;
    background-color: black;
    border-radius: 0.3rem;

    .DataChartControllerCover {
      border-right: 3px solid black;
      padding: 1rem;
      width: 20%;
      max-width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0.5rem;
      background-color: #1b1b24;
      animation: bottom 0.8s;
      -webkit-animation: bottom 0.8s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      opacity: 0;
    }
    .DataChartCover {
      width: 80%;
      max-width: 80%;
      z-index: 11;
      border-radius: 0.5rem;
      background-color: #1b1b24;
      animation: bottomTwo 0.8s;
      -webkit-animation: bottomTwo 0.8s;
      animation-delay: 0.75s;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }
}

@keyframes bottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes bottomTwo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
