html,
body {
  margin: 0;
  padding: 0;

  .upperlayer {
    display: flex;
    flex-direction: row;
    background-color: #1b1b24;

    .VideoPlayerCover {
      border: 2px solid black;
      width: 40%;
      max-width: 40%;
    }

    .upperLeft_upper_container {
      width: 60%;
      display: flex;
      flex-direction: column;
      .upperLayer {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;
        .ChatViewerCover {
          border: 2px solid black;
          width: 25%;
        }

        .BookMarkerToolCover {
          border: 2px solid black;
          width: 75%;
        }
      }

      .lowerLayer {
        display: flex;
        flex-direction: row;
        padding: 1rem;
      }
    }
  }

  .lowerlayer {
    border: 2px solid black;
    padding: 16;
    display: flex;
    flex-direction: row;
    height: 42%;
    max-height: 42%;
    background-color: #1b1b24;

    .DataChartControllerCover {
      padding: 1rem;
      border: 2px solid black;
      width: 20%;
      max-width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .DataChartCover {
      border: 2px solid black;
      width: 80%;
      max-width: 80%;
      z-index: 19;
    }
  }
}
