body {
  background-color: #282c34;
  scroll-behavior: smooth;

  .HomeContainer {
    display: flex;
    flex-grow: 2;
    height: 100%;
    .Home_main {
      flex-grow: 2;
      background: linear-gradient(
          to right top,
          hsla(270, 50%, 8%, 0.5),
          hsla(270, 50%, 8%, 0.6) 20%,
          hsla(270, 50%, 8%, 0.1)
        ),
        linear-gradient(to right bottom, hsl(270, 50%, 8%), transparent 86%),
        linear-gradient(to bottom, transparent, hsl(270, 50%, 8%) 86%),
        url("./image/background.png") no-repeat;
      background-size: auto 98rem;
      display: flex;

      h1 {
        margin-bottom: 1rem;
      }

      .Home_Column1 {
        padding-top: 4rem;
        margin-left: 6rem;
        width: 40%;

        .HC1_heading {
          font-weight: bold;
          letter-spacing: 2px;
          padding: 0.2rem 0.7rem;
          font-size: 6rem;
          border-radius: 4px;
          .HC1-logo {
            height: 80px;
          }
        }
        .HC1-p1 {
          font-size: 24px;
          width: 90%;
          color: rgb(163, 163, 163);

          .point1 {
            color: white;
            font-size: 36px;
            font-weight: bold;
          }
        }
        .HC1-p2 {
          font-size: 24px;
          width: 90%;
          color: rgb(163, 163, 163);

          .point1 {
            color: rgb(196, 95, 255);
            font-size: 30px;
            font-weight: bold;
          }

          .point2 {
            color: rgb(196, 95, 255);
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .HC1-p3 {
          font-size: 20px;
          width: 90%;
          color: rgb(119, 119, 119);

          .point1 {
            color: white;
            font-weight: bold;
          }
        }

        .Home_introduction_heading_wrap {
          display: flex;
          align-items: center;
          font-size: 1rem;
          margin: 12rem 0 5rem;

          h2 {
            color: rgb(196, 95, 255);
            font-size: 36px;
            font-weight: bold;
          }
        }

        .Home_list {
          list-style: none;
          position: relative;
          color: white;

          &:before {
            content: "HIGHLIGHT";
            position: absolute;
            bottom: 17%;
            left: -10%;
            opacity: 0.03;
            font-size: 18rem;
            font-weight: bold;
          }

          .Home_list-item {
            padding: 0 0 5.7rem 3rem;
            border-left: 3px solid hsla(0, 0%, 100%, 0.2);
            position: relative;
            display: flex;
            color: #9d9dac;

            &:first-of-type .Home_list-content {
              color: hsl(0, 0%, 100%);
            }

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 8px;
              width: 12px;
              height: 12px;
              border-radius: 8px;
              background: rgb(196, 95, 255);
              transform: translateX(-6px);
            }

            &:first-of-type::before {
              top: 0;
            }

            &:first-of-type .Home_list-content {
              line-height: 0.5;
            }

            &:last-of-type {
              padding-bottom: 3rem;
            }

            .Home_list-content {
              font-size: 2rem;
              cursor: pointer;
              transition: all 0.5s;

              &:hover {
                color: hsl(240, 8%, 90%);
              }
            }

            .Home_list-sub {
              margin-top: 0.4rem;
              font-size: 1.5rem;
              opacity: 0.6;
              transition: all 0.5s;
            }

            .is-active {
              color: white;
              font-size: 3.5rem;
              font-weight: bold;
            }

            .sub-active {
              font-size: 2.2rem;
              opacity: 0.6;
              margin-top: 0.4rem;
            }
          }
        }
      }
      .Home_Column2 {
        width: 60%;
        padding-left: 4rem;
        padding-top: 4rem;
        justify-content: center;
        text-align: center;

        .Home_urlInput {
          h1 {
            font-size: 96px;
          }
          h3 {
            font-size: 48px;
            color: white;
          }

          .InputBar {
            flex-shrink: 1;
            transition-property: color, background-color, border-color,
              text-decoration-color, fill, stroke, opacity, box-shadow,
              transform, filter, backdrop-filter;
            transition-duration: 0.2s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            height: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1.7rem;
            line-height: 1.25rem;
            line-height: 2;
            border-width: 1px;
            border: 3px solid #935ef4;
            --tw-border-opacity: 0;
            --tw-bg-opacity: 1;
            background-color: #191023;
            border-radius: 0.5rem;
            width: 45rem;
            height: 5rem;

            &:focus {
              outline: 3px solid #935ef4;
              background-color: #191023;
              color: white;
            }

            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 1000px #191023 inset;
              -webkit-text-fill-color: #fff !important;
            }
          }
        }
        .resultButton {
          width: 18rem;
          height: 6rem;
          background-color: #935ef4;
          border: none;
          color: white;
          font-size: 45px;
          border-radius: 0.5rem;
          transition: all 0.5s;
          text-align: center;
          cursor: pointer;

          span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;

            &:after {
              content: "\00bb";
              position: absolute;
              opacity: 0;
              top: 0;
              right: -20px;
              transition: 0.5s;
            }
          }
          &:hover span {
            padding-right: 40px;
          }

          &:hover span:after {
            opacity: 1;
            right: 0;
          }
        }

        .Home_GuidelineContainer {
          margin: 22rem 0 4rem;
          color: white;
          width: 90%;
          height: 55%;
          border: 3px solid white;
        }
      }
    }
  }
}

h1 {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
