h1 {
  background: linear-gradient(to right, rgb(247, 195, 195), #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  background: linear-gradient(to right, #f00, rgb(247, 200, 200));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
