body {
  background-color: #282c34;
  scroll-behavior: smooth;

  .HomeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .UpperContainer {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: center;
      flex-grow: 2;
      flex-grow: 2;
      background: linear-gradient(
          to right top,
          hsla(270, 50%, 8%, 0.5),
          hsla(270, 50%, 8%, 0.6),
          hsla(270, 50%, 8%, 0.6)
        ),
        linear-gradient(to right bottom, hsl(269, 51%, 8%), transparent 66%),
        linear-gradient(to bottom, transparent, hsl(270, 50%, 8%) 100%),
        url("./image/background.png") no-repeat;
      background-size: 100% 100%;
      display: flex;

      .upper_left_container {
        margin-left: 4rem;
        margin-top: 6rem;
        width: 45%;
        flex-grow: 2;

        /* 좌상단 소개파트 */
        .HC1_heading {
          font-weight: bold;
          letter-spacing: 2px;
          padding: 0.2rem 0.7rem;
          font-size: 5rem;
          border-radius: 4px;
          animation: fadein 1s;
          -webkit-animation: fadein 1s;
          animation-delay: 0.1s;
          animation-fill-mode: forwards;
          opacity: 0;

          .HC1-logo {
            height: 4rem;
          }
        }
        .HC1-p1 {
          font-size: 24px;
          width: 90%;
          color: rgb(163, 163, 163);
          animation: fadein 1s;
          -webkit-animation: fadein 1s;
          animation-delay: 0.2s;
          animation-fill-mode: forwards;
          opacity: 0;

          .point1 {
            color: rgb(196, 95, 255);
            font-size: 36px;
            font-weight: bold;
          }
          .point2 {
            color: white;
            font-size: 30px;
            font-weight: bold;
          }
          .point3 {
            color: white;
            font-weight: bold;
          }
        }

        .HC1-p2 {
          font-size: 24px;
          width: 90%;
          color: rgb(163, 163, 163);
          animation: fadein 1s;
          -webkit-animation: fadein 1s;
          animation-delay: 0.3s;
          animation-fill-mode: forwards;
          opacity: 0;

          .point1 {
            color: white;
            font-size: 36px;
            font-weight: bold;
          }
          .point2 {
            color: white;
            font-size: 27px;
            font-weight: bold;
          }
        }

        .HC1-p3 {
          font-size: 24px;
          width: 90%;
          color: rgb(163, 163, 163);
          animation: fadein 1s;
          -webkit-animation: fadein 1s;
          animation-delay: 0.4s;
          animation-fill-mode: forwards;
          opacity: 0;

          .point1 {
            color: rgb(255, 255, 255);
            font-size: 30px;
            font-weight: bold;
          }

          .point2 {
            color: rgb(196, 95, 255);
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .HC1-p4 {
          font-size: 20px;
          width: 90%;
          color: rgb(119, 119, 119);
          animation: fadein 1s;
          -webkit-animation: fadein 1s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
          opacity: 0;

          .point1 {
            color: white;
            font-weight: bold;
          }
        }
        /* 좌상단 소개파트 */
      }

      .upper_right_container {
        margin-right: 3rem;
        margin-top: 6rem;
        margin-left: 6rem;
        width: 50%;
        justify-content: center;
        text-align: center;
        animation: fadein 1s;
        -webkit-animation: fadein 1s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
        opacity: 0;

        /* 우상단 인풋파트 */
        .Home_urlInput {
          h1 {
            font-size: 96px;
            animation: fadein 1s;
            -webkit-animation: fadein 1s;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
            opacity: 0;
          }

          h3 {
            font-size: 16px;
            color: white;
            animation: fadein 1s;
            -webkit-animation: fadein 1s;
            animation-delay: 0.4s;
            animation-fill-mode: forwards;
            opacity: 0;

            .point {
              color: rgb(196, 95, 255);
              cursor: pointer;
              text-decoration: underline;
            }
          }

          .inputLogo {
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              transform: scale(1.2);
              &:active {
                transform: translateY(20px);
              }
            }
          }

          .InputBar {
            flex-shrink: 1;
            transition-property: color, background-color, border-color,
              text-decoration-color, fill, stroke, opacity, box-shadow,
              transform, filter, backdrop-filter;
            transition-duration: 0.2s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            height: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1.7rem;
            line-height: 1.25rem;
            line-height: 2;
            border-width: 1px;
            border: 3px solid #935ef4;
            --tw-border-opacity: 0;
            --tw-bg-opacity: 1;
            background-color: #191023;
            border-radius: 0.5rem;
            width: 40rem;
            height: 5rem;
            animation: fadein 1s;
            -webkit-animation: fadein 1s;
            animation-delay: 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;

            &:focus {
              outline: 3px solid #935ef4;
              background-color: #191023;
              color: white;
            }

            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 1000px #191023 inset;
              -webkit-text-fill-color: #fff !important;
            }
          }
        }
        .resultButton {
          width: 18rem;
          height: 6rem;
          background-color: #935ef4;
          border: none;
          color: white;
          font-size: 45px;
          border-radius: 0.5rem;
          transition: all 0.2s;
          text-align: center;
          cursor: pointer;
          animation: fadein 1s;
          -webkit-animation: fadein 1s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
          opacity: 0;

          span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.2s;

            &:after {
              content: "\00bb";
              position: absolute;
              opacity: 0;
              top: 0;
              right: -20px;
              transition: 0.2s;
            }
          }
          &:hover span {
            padding-right: 40px;
          }

          &:hover span:after {
            opacity: 1;
            right: 0;
          }
        }
        /* 우상단 인풋파트 */
      }
    }

    .LowerContainer {
      width: 100%;
      height: 60%;
      display: flex;
      background-color: hsl(269, 51%, 8%);
      .lower_left_container {
        margin-left: 4rem;
        margin-top: 6rem;
        width: 45%;
        height: 100%;
        flex-grow: 2;
        /* 좌하단 가이드라인 */
        .Home_introduction_heading_wrap {
          display: flex;
          align-items: center;
          font-size: 1rem;
          margin: 12rem 0 3rem;
          width: 100%;
          height: 20%;

          h2 {
            color: rgb(196, 95, 255);
            font-size: 36px;
            font-weight: bold;
          }
        }

        .Home_list {
          list-style: none;
          position: relative;
          color: white;
          width: 100%;
          height: 80%;

          .Home_list-item {
            padding: 0 0 5.7rem 3rem;
            border-left: 3px solid hsla(0, 0%, 100%, 0.2);
            position: relative;
            display: flex;
            color: #9d9dac;

            &:first-of-type .Home_list-content {
              color: hsl(0, 0%, 100%);
            }

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 8px;
              width: 12px;
              height: 12px;
              border-radius: 8px;
              background: rgb(196, 95, 255);
              transform: translateX(-6px);
            }

            &:first-of-type::before {
              top: 0;
            }

            &:first-of-type .Home_list-content {
              line-height: 0.5;
            }

            &:last-of-type {
              padding-bottom: 3rem;
            }

            .Home_list-content {
              font-size: 1rem;
              cursor: pointer;
              transition: all 0.5s;

              &:hover {
                color: hsl(240, 8%, 90%);
              }
            }

            .Home_list-sub {
              width: 70%;
              margin-top: 0.4rem;
              font-size: 0.75rem;
              opacity: 0.6;
              transition: all 0.5s;
            }

            .is-active {
              color: white;
              font-size: 2rem;
              font-weight: bold;
            }

            .sub-active {
              font-size: 1.5rem;
              opacity: 0.6;
            }
            .UPscroll {
              margin-top: 1rems;

              .point2 {
                color: rgb(196, 95, 255);
                font-size: 30px;
                font-weight: bold;
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
        }
        /* 좌하단 가이드라인 컴포넌트 */
      }

      .lower_right_container {
        margin-top: 6rem;
        margin-left: 6rem;
        width: 55%;
        justify-content: center;

        /* 우하단 컨테이너 */
        .Home_GuidelineContainer {
          margin: 16rem 0 7rem;
          color: black;
          width: 90%;
          height: 65%;
          border: 3px solid #935ef4;
          background-color: #1b1b24;

          border-radius: 2rem;
          .GuideLine_content {
            width: 100%;
            height: 100%;

            h2 {
              padding: 0.5rem;
              background-color: #935ef4;
              border-radius: 1rem;
              margin-right: 2rem;
              margin-left: 2rem;
              text-align: center;
              color: white;
              font-size: 3rem;
              animation: fadein 1s;
              -webkit-animation: fadein 1s;
              animation-delay: 0.2s;
              animation-fill-mode: forwards;
              opacity: 0;
            }

            img {
              width: 90%;
              margin-left: 3rem;
              animation: fadein 1s;
              -webkit-animation: fadein 1s;
              animation-delay: 0.3s;
              animation-fill-mode: forwards;
              opacity: 0;
            }
            .guide_content_p1 {
              color: white;
              background-color: #935ef4;
              border-radius: 1rem;
              padding: 1rem;
              font-size: 1.5rem;
              font-weight: bold;
              margin-left: 12rem;
              margin-right: 2rem;
              animation: fadein 1s;
              -webkit-animation: fadein 1s;
              animation-delay: 0.4s;
              animation-fill-mode: forwards;
              opacity: 0;
            }
            .guide_content_p2 {
              color: white;
              background-color: #935ef4;
              border-radius: 1rem;
              padding: 1rem;
              font-size: 1.5rem;
              font-weight: bold;
              margin-left: 12rem;
              margin-right: 2rem;
              animation: fadein 1s;
              -webkit-animation: fadein 1s;
              animation-delay: 0.5s;
              animation-fill-mode: forwards;
              opacity: 0;
            }

            .guide_content_box {
              width: 100%;
              height: 60%;

              .step0 {
                width: 60%;
                border-radius: 1rem;
              }
            }
            .guide_button_box {
              width: 100%;
              height: 10%;
              display: flex;
              justify-content: space-between;
              transition: all 0.3s;

              .previousButton {
                margin-left: 2rem;
                font-size: 96px;
                color: #935ef4;
                transform: scaleX(-1);
                cursor: pointer;

                &:hover {
                  transform: scaleX(-1) translateY(-3px);
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
                }

                &:active {
                  transform: scaleX(-1) translateY(-7px);
                  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
                }
              }

              .nextButton {
                margin-right: 2rem;
                font-size: 96px;
                color: #935ef4;
                cursor: pointer;

                &:hover {
                  transform: translateY(-3px);
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
                }

                &:active {
                  transform: translateY(-7px);
                  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
                }
              }
            }
          }
        }
        /* 우하단 컨테이너 */
      }
    }

    h1 {
      margin-bottom: 1rem;
    }
  }
}

h1 {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
