.Loading {
  background-color: #1b1b24;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;

  .LoadingContainer {
    background-color: #1b1b24;
  }

  .title {
    font-size: 86px;
    font-weight: bold;
    margin: 8px;
    margin-bottom: 96px;
    text-align: center;
  }
}
