.Loading {
  background-color: #1b1b24;
  width: 99%;
  position: absolute;
  top: 5px;
  bottom: 5px;
  margin: auto;

  .LoadingContainer {
    width: 100%;
    background-color: #1b1b24;
  }

  .title {
    font-size: 86px;
    font-weight: bold;
    margin: 8px;
    margin-bottom: 96px;
    text-align: center;
  }
}
