.navbar {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: black;

  .menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    li {
      height: 100%;
      font-size: 20px;
      position: relative;
      display: flex;
      align-items: center;
      color: white;
      text-transform: uppercase;
      transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
      text-align: center;
      padding: 0 10px;
      margin-top: 2px;
      margin-right: 20px;
      cursor: pointer;

      &:after,
      &:before {
        content: "";
        position: absolute;
        display: block;
        border: 0px solid transparent;
        width: 0%;
        height: 0%;
        transition: all 0.5s ease;
      }

      &:after {
        width: 0%;
        height: 0%;
        top: 0;
        left: 0;
        border-top: 3px solid transparent;
        border-left: 3px solid transparent;
      }

      &:before {
        width: 0%;
        height: 0%;
        right: 0;
        bottom: 0;
        border-bottom: 3px solid transparent;
        border-right: 3px solid transparent;
      }

      &:hover::before,
      &:hover::after {
        width: 50%;
        height: 50%;
        border-color: #935ef4;
      }
    }
  }
}

.SignTool {
  display: flex;
}

#Home {
  font-size: 50px;
  font-weight: bold;
  background: #935ef4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loginEnd {
  text-align: center;
  font-size: 11px;

  .loginLine {
    color: #bcbcbc;
    font-size: 11px;
    margin-bottom: 35px;
    b {
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .noUser {
    text-decoration: underline;
  }
}

.purple {
  color: #935ef4;
  margin-right: 0.5rem;
}

.Logo {
  width: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 5px;
}
