.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);

  button {
    outline: none;
    cursor: pointer;
    border: 0;
    background-color: white;
  }

  /* 모달창 안의 섹션파트*/
  section {
    max-width: 90%;
    min-width: 450px;
    margin: auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.5s;
    overflow: hidden;
    overflow-y: auto;

    /* 모달창의 헤더 부분*/
    header {
      text-align: center;
      position: relative;
      padding: 16px 64px 16px 16px;
      background-color: #f1f1f1;
      font-weight: 700;

      button {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 30px;
        font-size: 21px;
        font-weight: 700;
        text-align: center;
        color: #999;
        background-color: transparent;
      }
    }

    main {
      justify-content: center;
      max-width: 100%;
      padding: 16px;
      /* 모달창 메인파트 윗줄 */
      border-top: 1px solid #dee2e6;
      /* 모달창 메인파트 아래줄 */
      border-bottom: 1px solid #dee2e6;

      .contents {
        max-width: 80%;
        margin-left: 3.5rem;
        margin-right: 2rem;
      }

      .textBox {
        text-align: center;

        .textTitle {
          color: blue;
          font-weight: 900;
          font-size: x-large;
        }

        .textExplain {
          color: gray;
          font-size: medium;
          font-weight: bold;
        }
      }

      .imgbutton {
        width: 100px;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
    footer button {
      margin-right: 1rem;
      float: right;
      padding: 6px 12px;
      color: #fff;
      background-color: #6c757d;
      border-radius: 5px;
      font-size: 13px;
    }
  }
}
/* 모달창의 클로즈(x) 버튼 */
.modal > section > .modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 1s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
