.FlexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .ContainerWrapper {
    width: 90%;
    justify-content: center;
    text-align: center;
    margin-top: 72px;
  }
}
